:root {
  --background-body: 0, 0, 0;
  --background: 45, 45, 45;
  --background-alt: 245,245,245;
  --color-main-head: 255, 255, 255;
  --color-head: 245, 245, 245;
  --color-text: 220, 220, 220;
  --color-text-alt: 16, 16, 16;
  --color-error: 140,15,0;
  --hue-rotate: 25deg;
  
  --size-xll: calc(4.5rem + 1.5vw);
  --size-xl: calc(3.5rem + .4vw);
  --size-lg: calc(2.5rem + .3vw);
  --size-md: calc(1.5rem + .2vw);
  --size-sm: calc(1rem + .15vw);
  --size-xs: calc(.5rem + .1vw);
  --radius-circle: 50%;
  
  --font-xll: calc(1.6rem + 1.4vw);
  --font-xl: calc(1.3rem + 1.2vw);
  --font-lg: calc(1.1rem + 1vw);
  --font-md: calc(.8rem + .6vw);
  --font-sm: calc(.6rem + .4vw);
  --font-xs: calc(.5rem + .3vw);
  
  --section-padding: var(--size-xs);
  --menu-width: 70vw;
  --menu-height: 65vh;
  --scale-x: 0;
  --scale-y: 0;
  --menu-delay: .9s;
  
  --size-btn-menu: var(--size-lg);
  --size-btnico-menu: var(--size-md);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--color-text));
  background-color: rgba(var(--background-body));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 450;
  color: rgb(var(--color-main-head));
  font-size: var(--font-xll);
  line-height: 1.05em;
}

h2 {
  font-weight: 450;
  color: rgb(var(--color-head));
  font-size: var(--font-xl);
}

h3 {
  font-weight: 450;
  color: rgb(var(--color-head));
  font-size: var(--font-md);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

p, input, textarea {
  font-weight: 500;
  color: rgb(var(--color-text));
  font-size: var(--font-md);
}

button, .btn {
  font-family: var(--font-geist-mono);
  font-weight: 400;
  font-size: var(--font-md);
  padding: var(--size-sm);
  background-color: rgb(var(--color-main-head));
  color: rgb(var(--color-text-alt));
  text-align: center;
  border: none;
  border-radius: var(--size-sm);
  user-select: none;
}

.formBtn {
  color: rgb(var(--color-text));
  border: 2px solid var(--color-text);
  background-color: transparent;
}

.index {
  font-weight: 500;
  color: rgb(var(--color-main-head));
  font-size: calc(var(--font-xll) * 1.4);
}

.description {
  font-size: var(--font-md);
  color: rgb(var(--color-text));
  line-height: 1.5;
}

.imgContainer {
  position: relative;
  border-radius: var(--size-sm);
  overflow: hidden;
}
.img {
  object-fit: cover;
}
.mainLogo {
	width: 70px;
	aspect-ratio: 7 / 4;
  border-radius: var(--size-xs);
	color: var(--color-main-head);
}

.no-interaction {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  pointer-events: none;
}


@media (min-width: 480px) {
	:root {
		--section-padding: var(--size-sm);
	}
}
@media (min-width: 768px) {
	:root {
		--section-padding: var(--size-md);
		--menu-width: 45vw;
    --menu-height: 45vh;
	}
	p, input, textarea, .description {
	  font-size: var(--font-sm);
	}
}
@media (min-width: 1024px) {
	:root {
		--section-padding: var(--size-md);
	}
}
@media (min-width: 1200px) {
	:root {
		--section-padding: var(--size-lg);
	}
}