.section {
  width: 100%;
  padding: var(--section-padding);
  background-color: transparent;
  color: rgb(var(--color-text));
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--size-lg) * 1.2);
}

.sectionPart {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}
.videoWrap {
  flex: 2 0;
}
.featuresWrap {
  flex: 1 0;
}

.sectionDescription {
	border-radius: var(--size-sm);
	background-color: rgba(var(--background), .15);
	backdrop-filter: blur(4px);
}
.sectionDescription p {
	padding: var(--size-xs);
}




.statList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--size-sm);
}
.statItem {
	flex: 1 0;
  list-style: none;
  color: rgb(var(--color-text));
  display: flex;
  gap: var(--size-xs);
  align-items: center;
  padding: var(--size-sm) var(--size-md);
  background-color: rgba(var(--background-alt), 0);
  backdrop-filter: blur(8px) hue-rotate( var(--hue-rotate) );
  border: 1.2px solid rgba(var(--background-alt), .15);
  border-radius: var(--size-sm);
}

.accent {
  flex: 1 0;
  width: 45%;
  font-weight: 500;
  font-size: calc(var(--font-xl));
  color: rgba(var(--color-main-head), .85);
  white-space: nowrap;
}
.description {
  flex: 1 0;
  width: 55%;
  display: flex;
  padding-right: 5%;
  justify-content: flex-start;
  font-weight: 500;
  color: rgb(var(--color-text));
  font-size: calc(var(--font-lg) *  .7);
}

@media (min-width: 360px) {
	.statItem:nth-child(1) {
		margin-right: 30%;
	}
  .statItem:nth-child(2) {
  	margin-left: 15%;
  	margin-right: 15%;
  }
  .statItem:nth-child(3) {
  	margin-left: 30%;
  }
}

@media (min-width: 480px) {
	.sectionContainer {
		gap: calc(var(--size-xl) * 1.2);
	}
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
  }
  .sectionContainer {
  	gap: var(--size-md);
  }
  .sectionPart {
    flex-direction: row;
  }
  .sectionTitle {
    flex: 2 0;
  }
  .sectionDescription {
    flex: 1 0;
  }
  .statItem {
  	border-radius: var(--size-md);
  }
  .statItem:nth-child(n) {
  	margin: 0;
  }
  .accent {
  	font-size: calc(var(--font-xl) * .8);
  }
  .description {
  	font-size: calc(var(--font-md) * .95);
  }
}

@media (min-width: 1024px) {
	.statList {
  	gap: var(--size-md);
  }
	.statItem {
		padding: calc(var(--size-sm) * 1.25) calc(var(--size-md) * 1.05);
	}
  .description {
  	font-size: var(--font-md);
  }
  .sectionPart {
	  gap: var(--size-lg);
	}
}
@media (min-width: 1200px) {
	.statItem {
		padding: var(--size-md) calc(var(--size-md) * 1.1);
		gap: var(--size-sm);
	}
  .accent {
  	font-size: calc(var(--font-xl) * 1.15);
  }
  .description {
  	font-size: calc(var(--font-md) * 1.05);
  }
}
